.token.punctuation{
	color: #d81b60 ;
}
.token.doctype,.token.comment{
	color: #ccc;
}
.token.tag{
	color: #43a047;
}
.token.attr-name,.token.attr-value{
	color: #808080;
}

@media only screen and (max-width: 600px) {
    
}